@page
@using DataAccess
@model SWP391_eTeacherSystem.Pages.AcceptClassModel
@{
}
<!-- ======= Accept Class Section ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
        <a class="nav-link scrollto active" asp-area="" asp-controller="CheckOut" asp-action="TutorPage"></a>

        <h1 class="logo me-auto"><a asp-page="/TutorPage">eTeacher</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" asp-page="/TutorPage">Home</a></li>
                <li><a class="nav-link scrollto active" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#services">Services</a></li>
                <li><a class="nav-link scrollto active" asp-page="Class">Create Class</a></li>
                <li><a class="nav-link scrollto active" asp-page="AcceptClass">Accept Class</a></li>
                <li><a class="nav-link scrollto active" asp-page="TuTorClassList">Tutor Class List</a></li>
                <li>
                    <form method="post" asp-page-handler="Logout">
                        <button type="submit" class="btnLogin-popup" style="margin-left: 25px;">Logout</button>
                    </form>
                </li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<section id="accept_class" class="accept_class cta">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>List of requirements</h2>
            <p>Tutoring requirements that may suit you</p>
        </div>
        <div class="row">
            @foreach (var requirement in Model.Requirements)
            {
                <div class="col-md-3">
                    <div class="card mb-3 textblack">
                        <div class="card-header bg-primary text-white">
                            @requirement.Requirement_id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@requirement.Subject_name - Grade @requirement.Grade</h5>
                            <p class="card-text">
                                <i class="fa fa-dollar-sign"></i> @requirement.Price VNĐ/lesson, @requirement.Number_of_session sessions/course<br />
                                <i class="fa fa-user"></i> Address: @requirement.Address
                            </p>
                            @if (requirement.Status == 1)
                            {
                                <p class="text-success">Available</p>
                                <form method="get" asp-page="/RequirementDetails">
                                    <input type="hidden" name="id" value="@requirement.Requirement_id" />
                                    <button type="submit" class="btn btn-success">More Details →</button>
                                </form>
                            }
                            else if (requirement.Status == 2)
                            {
                                <p class="text-danger">Not Available</p>
                                <button type="button" class="btn btn-secondary" disabled>More Details →</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ======= End Accept Class Section ======= -->
