@page
@model SWP391_eTeacherSystem.Pages.CancelClassModel
@{
    var classes = Model.Class;
}
@if (classes == null)
{
    <h2>Class not found</h2>
}
else
{
    <!-- ======= Cancel Class Section ======= -->
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">
            <a class="nav-link scrollto active" asp-area="" asp-controller="CheckOut" asp-action="StudentPage"></a>

            <h1 class="logo me-auto"><a asp-page="/StudentPage">eTeacher</a></h1>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" asp-page="/StudentPage">Home</a></li>
                    <li><a class="nav-link scrollto active" href="#about">About</a></li>
                    <li><a class="nav-link scrollto active" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto active" href="#searchTutor">Search Tutor</a></li>
                    <li><a class="nav-link scrollto active" asp-page="Requirement">Requirement</a></li>
                    <li><a class="nav-link scrollto active" asp-page="ClassHour">Class Hour</a></li>
                    <li><a class="nav-link scrollto active" asp-page="ClassList">Class List</a></li>
                    <li>
                        <form method="post" asp-page-handler="Logout">
                            <button type="submit" class="btnLogin-popup" style="margin-left: 25px;">Logout</button>
                        </form>
                    </li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header>

    <!-- End Header -->
    <section id="Cancel" class="contact ctaa">
        <div class="container " data-aos="fade-up">
            <div class="row">
                <form method="post" role="form" class="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row board col-lg-8">
                        <div class=" col-lg-6">
                            <h3>Class details @classes.Class_id</h3>
                            <p>Subject: @classes.Subject_name - Grade: @classes.Grade</p>
                            <p>Tuition fee: @classes.Price.ToString() VNĐ/lesson - Number of session: @classes.Number_of_session lesson/course</p>
                            <p>Start date: @classes.Start_date - To: @classes.End_date</p>
                            <p>Start time: @classes.Start_time - To: @classes.End_time</p>
                            <p>Address: @classes.Address</p>
                            <input type="hidden" asp-for="ClassId" />
                        </div>
                        <div class="my-3">
                            <div class="loading"></div>
                            <div class="error-message"></div>
                            <div class="sent-message"></div>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary form-control">Cancel class</button>
                            <p></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- ======= End Cancel Class Section ======= -->
}
