@page
@model SWP391_eTeacherSystem.Pages.CancelClassModel
@{
    var classes = Model.Class;
}
@if (classes == null)
{
    <h2>Class not found</h2>
}
else
{
    <!-- ======= Cancel Class Section ======= -->
    <section id="Cancel" class="contact ctaa">
        <div class="container " data-aos="fade-up">
            <div class="row">
                <form method="post" role="form" class="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row board col-lg-8">
                        <div class=" col-lg-6">
                            <h3>Class details @classes.Class_id</h3>
                            <p>Subject: @classes.Subject_name - Grade: @classes.Grade</p>
                            <p>Tuition fee: @classes.Price.ToString() VNĐ/lesson - Number of session: @classes.Number_of_session lesson/course</p>
                            <p>Start date: @classes.Start_date - To: @classes.End_date</p>
                            <p>Start time: @classes.Start_time - To: @classes.End_time</p>
                            <p>Address: @classes.Address</p>
                            <p>Total tuition for the course: <b>@classes.Total VNĐ</b></p>
                            <a href="@classes.Link_meet">Link meet</a>
                            <input type="hidden" asp-for="ClassId" />
                        </div>
                        <div class="my-3">
                            <div class="loading"></div>
                            <div class="error-message"></div>
                            <div class="sent-message"></div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary form-control">Cancel class</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p></p>
                <div class="row">
                    <div class="form-group col-md-3">
                        <form method="get" asp-page="/CreateReport">
                            <input type="hidden" name="id" value="@classes.Class_id" />
                            <button type="submit" class="btn btn-success">Report class →</button>
                        </form>
                    </div>
                    <div class="form-group col-md-3">
                        <form method="get" asp-page="/ViewReport">
                            <input type="hidden" name="id" value="@classes.Class_id" />
                            <button type="submit" class="btn btn-success">View Report →</button>
                        </form>
                    </div>
                    <div class="form-group col-md-6">
                        <form method="get" asp-page="/ViewAttendance">
                            <input type="hidden" name="id" value="@classes.Class_id" />
                            <button type="submit" class="btn btn-success">View Attendance →</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= End Cancel Class Section ======= -->
}
