@page
@model SWP391_eTeacherSystem.Pages.ClassListModel
@{
}
<!-- ======= Class List Section ======= -->

<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
        <a class="nav-link scrollto active" asp-area="" asp-controller="CheckOut" asp-action="StudentPage"></a>

        <h1 class="logo me-auto"><a asp-page="/StudentPage">eTeacher</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" asp-page="/StudentPage">Home</a></li>
                <li><a class="nav-link scrollto active" href="#about">About</a></li>
                <li><a class="nav-link scrollto active" href="#services">Services</a></li>
                <li><a class="nav-link scrollto active" href="#searchTutor">Search Tutor</a></li>
                <li><a class="nav-link scrollto active" asp-page="Requirement">Requirement</a></li>
                <li><a class="nav-link scrollto active" asp-page="ClassHour">Class Hour</a></li>
                <li><a class="nav-link scrollto active" asp-page="ClassList">Class List</a></li>
                <li>
                    <form method="post" asp-page-handler="Logout">
                        <button type="submit" class="btnLogin-popup" style="margin-left: 25px;">Logout</button>
                    </form>
                </li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<section id="class_list" class="class_list cta">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Class list</h2>
            <p>List of classes you are currently taking</p>
        </div>
        <div class="row">
                @foreach (var classes in Model.Classes)
                {
                <div class="col-md-3">
                    <div class="card mb-3 textblack">
                        <div class="card-header bg-primary text-white">
                            @classes.Class_id
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@classes.Subject_name - Grade @classes.Grade</h5>
                            <p class="card-text">
                                <i class="fa fa-dollar-sign"></i> @classes.Price VNĐ/hour, @classes.Number_of_session sessions/course<br />
                                <i class="fa fa-user"></i> Address: @classes.Address
                            </p>
                                @if (classes.Status == 2)
                                {
                                    <p class="text-danger">Cancelled</p>
                                }
                                else
                                {
                                    <form method="get" asp-page="/CancelClass">
                                        <input type="hidden" name="id" value="@classes.Class_id" />
                                        <button type="submit" class="btn btn-success">More details →</button>
                                    </form>
                                    <p></p>
                                    <form method="get" asp-page="/CreateFeedback">
                                        <input type="hidden" name="id" value="@classes.Class_id" />
                                        <button type="submit" class="btn btn-success">Feedback class →</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
</section>
<!-- ======= End Class List Section ======= -->
