@page
@model SWP391_eTeacherSystem.Pages.DeleteClassHourModel
@{
    var classes = Model.ClassHour;
}
@if (classes == null)
{
    <h2>ClassHour not found</h2>
}
else
{
    <!-- ======= ClassHour Detail Section ======= -->
    <section id="ClassHourDelete" class="contact ctaa">
        <div class="container " data-aos="fade-up">
            <div class="row">
                <form method="post" role="form" class="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row board col-lg-8">
                        <div class=" col-lg-6">
                            <h3>Class details @classes.Class_id</h3>
                            <p>Subject: @classes.Subject_name - Grade: @classes.Grade</p>
                            <p>Tuition fee: @classes.Price.ToString() VNĐ/lesson - Number of session: @classes.Number_of_session lesson/course</p>
                            <p>Start date: @classes.Start_date - To: @classes.End_date</p>
                            <p>Start time: @classes.Start_time - To: @classes.End_time</p>
                            <p>Address: @classes.Address</p>
                            <p>Description of other requirements: @classes.Description</p>
                            <p>Total course income: <b>@classes.Total VNĐ</b></p>
                            <input type="hidden" asp-for="ClassHourId" value="@classes.Class_id" />
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary form-control">Delete Class Hour →</button>
                            <p></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- ======= End ClassHour Detail Section ======= -->
}

