@page
@model SWP391_eTeacherSystem.Pages.ProfileModel
@{
}
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="row">
            <div class="col-lg-9 text-center text-lg-start">
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
            </div>
        </div>

    </div>
    <!-- </section>End Cta Section -->
    <!-- ======= Requirements Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Edit Profile</h2>
                <p>!!!</p>
            </div>

            <div class="row">

                <div class="col-lg-2"></div>

                <div class="col-lg-8 textblack">
                    <form action="" method="post" role="form" class="board">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <p><strong>First Name:</strong> @Model.UserDto.First_name</p>
                            <p><strong>Last Name:</strong> @Model.UserDto.Last_name</p>
                            <p><strong>Gender:</strong> @Model.UserDto.Gender</p>
                            <p><strong>Address:</strong> @Model.UserDto.Address</p>
                            <p><strong>Email:</strong> @Model.UserDto.Email</p>
                            <p><strong>Birth Date:</strong> @Model.UserDto.Birth_date.ToString("d")</p>
                            <p><strong>Link Contact:</strong> @Model.UserDto.Link_contact</p>
                            <p><strong>Rating:</strong> @Model.UserDto.Rating</p>
                            <p><strong>Image:</strong> @Model.UserDto.Image</p>
                            <p><strong>Role:</strong> @Model.UserDto.Role</p>
                            <div class="text-center"><button class="btn btn-primary form-control" asp-page="EditProfile">Edit</button></div>
                    </form>
                </div>
                <div class="col-lg-2"></div>

            </div>

        </div>
    </section>
